.mrj-listing-widget {
    margin: 0 auto; /* Center horizontally */
	max-width: 800px; /* Set a specific maximum width */
    padding: 0px 10% 0px 10%;
}

#titlebar {
    padding: 10px 0!important;
    margin-bottom: 10px!important;
    padding-bottom: 10px!important;
    background: #fff!important;}